//sass --watch scss/app.scss:css/app.css
@import "reset";
@import 'variables';
@import 'transitions';

.hidden {
    font-size: 0;
    position: absolute;
    transform: translateX(-1000px);
}

.eaves {
    font-family: 'Mr Eaves Mod OT', sans-serif;
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link, .primary_title {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 30%;
        background-color: $orange;
        clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
        transition: 0.3s ease-in-out;
    }
}

.link {

    &::after {
        width: 0;
        bottom: -30%;
    }

    &:hover:after {
        width: 100%;
    }

    &.active:after {
        width: 100%;
    }
}

.logo {
    height: 48px;
}

.section {
    margin-top: $spaceXXL;

    &_plus {
        margin-top: calc($spaceXXL + $spaceXL);
    }

    &.basic, &_plus.basic {
        flex-direction: column;
        gap: calc($spaceXL + $spaceS + 9.59px);
    }
}

.content {
    padding: 0 $spaceXL;
    width: calc(100% - ($spaceXL * 2));
}

.primary_title, .tagline {
    font-size: 2em;
}

.primary_title {
    text-indent: 1.5625em;
    padding-right: .46875em;

    &::after {
        width: 100%;
        bottom: -20px;
    }

    &.grey_line {
        &::after {
            background-color: $grey;
        }
    }
}

.secondary_title {
    font-size: 1.5em;
}

.big_title {
    font-size: 4em;
}

.text {
    line-height: $spaceS;
}

.primary_button, .socials_link, .lang_switcher_flag {
    transition: .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.primary_button {
    padding: 0.9375em;
    background-color: $orange;
    border-radius: .625em;
}

.primary_button, .link {
    text-decoration: none;
    color: $black;
}

.notifications_icon, .profile_icon, .lang_switcher_flag {
    cursor: pointer;
}

.main_nav {
    padding: 3.125em 3.125em 0 3.125em;

    &_links, &_others {
        gap: $spaceM;
    }

    &_others {
        &_profile, &_notifications {
            position: relative;
        }

        &_notifications_modal, &_profile_modal {
            position: absolute;
            border: 1px solid $uncolored_grey;
            box-shadow: 2px 2px 6px $uncolored_black;
            border-radius: .625em;
            padding: .3125em;
            flex-direction: column;
            z-index: 1;
            top: calc(100% + 20px);
        }

        &_notifications_modal {
            right: 0;
        }

        &_profile_modal {
            width: 12.1875em;
            gap: $spaceS;
            left: calc((100% / 2) - (12.1875em / 2));

            &_form {
                width: 100%;

                .main_nav_others_profile_modal_link {
                    width: 100%;
                    font-size: 1em;

                    &:hover {
                        & .main_nav_others_profile_modal_link_icon {
                            stroke: $orange;
                            fill: none;
                        }
                    }
                }
            }

            &_text {
                padding: .625em;
            }

            &_link {
                color: $black;
                border: none;
                background: none;
                border-radius: .625em;
                transition: .3s ease-in-out;
                gap: $space;
                text-decoration: none;
                width: calc(100% - 20px);
                justify-content: unset;
                cursor: pointer;

                &_icon {
                    transition: .3s ease-in-out;
                }

                &:hover {
                    color: $orange;
                    background-color: $lightOrange-;

                    & .main_nav_others_profile_modal_link_icon {
                        fill: $orange;
                    }
                }
            }
        }
    }
}

.footer {
    padding: 3.125em;
    flex-direction: column;

    &_content, &_legal_mentions {
        width: 100%;
    }

    &_content {
        padding-bottom: 3.125em;
        border-bottom: 1px solid $black;

        &_nav, &_languages, &_contact_info, &_socials {
            flex-direction: column;
            gap: $spaceM;
        }

        &_nav {
            &_links {
                flex-direction: column;
                gap: $spaceS;
            }
        }
    }

    &_legal_mentions {
        padding-top: 3.125em;

        &_content {
            flex-direction: column;
            gap: $spaceS;
        }
    }
}

.lang_switcher {
    width: 100%;
    gap: $spaceS;
    justify-content: start;
}

.img_container {
    position: relative;
}

.img_container, .slider_container_images_container {
    &::before {
        content: "";
        position: absolute;
        background-color: $lightOrange-;
        bottom: -50px;
        right: -50px;
        z-index: -1;
        border-radius: 0.9375em;
    }
}

.slider_container {
    position: relative;
    flex-direction: column;
    gap: $spaceS;

    &.rectangle {
        gap: 70px;

        .slider_container_images_container {
            width: 518px;
            height: 388px;
            position: relative;

            &::before {
                width: 503px;
                height: 324px;
            }
        }
    }

    &_dots {
        justify-content: center;
        flex-direction: row;
        gap: 5px;
    }

    &_images_container {
        position: relative;
        width: 443px;
        height: 452px;

        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.7s ease-in-out;
            border-radius: 15px;

            &.active {
                z-index: 1;
                transform: translateX(0);
                opacity: 1;
            }

            &.hidden {
                opacity: 0;
                z-index: 0;
                transform: translateX(-100%);
            }
        }
    }
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $grey;
    transition: background-color 0.3s ease;

    &.active {
        background-color: $orange;
    }
}

.contact_me {
    gap: $spaceXL;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &_title {
        width: 305px;
        font-size: 2em;
    }
}

.section.basic, .section_plus.basic, .footer, .footer_content, .footer_content_nav, .footer_content_contact_info, .footer_content_languages, .footer_content_socials, .footer_content_nav_links, .footer_legal_mentions_content, .home_presentation_content, .home_presentation_content_texts, .home_presentation_content_texts_title, .home_some_useful_info_content, .home_some_useful_info_content_contact_details, .home_some_useful_info_content_socials, .home_some_useful_info_content_timetable, .home_some_useful_info_content_contact_details_content, .home_some_useful_info_content_contact_details_content_contact_container, .home_some_useful_info_content_contact_details_content_details_container, .home_some_useful_info_content_contact_details_content_details_container_item, .home_some_useful_info_content_timetable_list, .home_be_part_of_the_kperform_team_content_explanations_item, .home_some_statistics_content, .about_presentation_content_texts_container, .main_nav_others_profile_modal {
    align-items: start;
}

.home_presentation {
    gap: $spaceXL;
    justify-content: center;

    &_content {
        flex-direction: column;
        gap: $spaceS;
        width: 502px;

        &_texts {
            gap: $spaceXL;
            flex-direction: column;

            &_title {
                gap: $spaceS;
                flex-direction: column;
            }
        }

        &_button_container {
            gap: $spaceS;
        }
    }
}

.home_some_useful_info {
    &_content {
        justify-content: space-between;

        &_contact_details, &_socials, &_timetable {
            flex-direction: column;
            gap: $spaceM;
        }

        &_contact_details {
            &_content {
                flex-direction: column;
                gap: $spaceXL;

                &_details_container {
                    gap: $spaceS;
                    flex-direction: column;
                }

                &_contact_container {
                    flex-direction: column;
                    gap: $spaceS;
                }
            }
        }

        &_timetable {
            &_list {
                flex-direction: column;
                gap: $spaceS;
            }
        }

    }
}

.home_be_part_of_the_kperform_team {
    &_content {
        gap: $spaceXL;
        padding-right: 100px;
        width: calc(100% - $spaceXL * 3);

        &_explanations {
            gap: $spaceXL;
            flex-direction: column;
            width: 49.4375em;

            &_item {
                flex-direction: column;
                gap: $spaceS;
            }
        }
    }
}

.home_how_i_work {
    &_content {
        text-align: center;

        &_explanations {
            width: 300px;
            height: 300px;
            justify-content: center;
            border-radius: 50%;
            gap: $spaceM;
            background-color: $lightOrange;
            flex-direction: column;

            &:first-of-type, &:nth-of-type(2) {
                position: relative;

                &::after {
                    content: "";
                    width: 200px;
                    height: 5px;
                    position: absolute;
                    right: calc(-200px - 28px);
                    top: calc(100% / 2 + 2.5px);
                    background-color: $grey;
                }
            }

            &_step_number, &_text {
                font-size: 1.5em;
            }

            &_text {
                width: 10.08333333em;
            }
        }
    }
}

.home_some_statistics {
    background-color: $orange;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: $spaceXL 0;
    gap: $spaceXL;

    &_title {
        font-size: 2em;
    }

    &_content {
        justify-content: space-around;
        width: 100%;

        &_item {
            font-size: 1.5em;
            gap: $space;
            flex-direction: column;
            width: 200px;
        }
    }
}

.about_presentation {
    &_content {
        justify-content: center;
        gap: $spaceXL;

        &_img_container {
            width: 452px;
            height: 452px;

            &::before {
                width: 436px;
                height: 388px;
                left: -50px;
                right: unset;
            }

            &_img {
                width: 100%;
                height: 100%;
                border-radius: 0.9375em;
            }
        }

        &_texts {
            flex-direction: column;
            gap: $spaceXL;
            width: 445px;

            &_container {
                flex-direction: column;
                gap: $spaceS;
            }
        }
    }
}

.about_why_me {
    &_content {
        justify-content: center;
        gap: $spaceXL;

        &_img_container {
            width: 452px;
            height: 452px;

            &:before {
                width: 436px;
                height: 388px;
            }

            &_img {
                width: 100%;
                height: 100%;
                border-radius: 0.9375em;
            }
        }

        &_text {
            width: 445px;
        }
    }
}

.about_my_team {
    &_content {
        &_team_mates_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: $spaceS;
            align-items: stretch;

            &_item {
                border-radius: .9375em;
                border: 2px solid $orange;
                padding: $spaceS;
                text-align: center;
                gap: $spaceM;
                flex-direction: column;
                justify-content: unset;

                &_profile {
                    gap: $spaceS;
                    flex-direction: column;

                    &_name_and_job {
                        gap: $space;
                        flex-direction: column;

                        &_name {
                            font-size: 1.5em;
                        }
                    }
                }

                .link {
                    gap: $space;
                }
            }
        }
    }
}


