.profile-modal-transition, .success-message-transition {
    transition: transform 0.3s ease-out, opacity 0.3s;
}

.profile-modal-enter, .profile-modal-leave-active, .success-message-enter, .success-message-leave-active {
    opacity: 0;
}

.profile-modal-enter-active, .profile-modal-leave, .success-message-enter-active, .success-message-leave {
    opacity: 1;
}

.profile-modal-enter, .profile-modal-leave-active {
    transform: translateY(-10%);
}

.profile-modal-enter-active, .profile-modal-leave, {
    transform: translateY(0);
}

.success-message-enter {
    transform: translateX(100%);
}

.success-message-enter-active {
    transform: translateX(0);
}

.success-message-leave {
    transform: translateX(0);
}

.success-message-leave-active {
    transform: translateX(100%);
}
