//COLORS
$orange : #FF8C00;
$lightOrange : #FFB347;
$lightOrange- : #FFC676;
$white : #FFFFFF;
$black : #000000;
$grey : #706F6F;
$lightGrey : #767676;

//TEXT SIZES
$text : 1em; //16
$textL : $text * 1.5; //24
$title : $text * 2; //32
$titleL : $title * 2; //64
$titleXL : $title * 4; //128

//SPACES
$space : .625em; //10
$spaceS : $space * 2; //20
$spaceM : $space * 3; //30
$spaceL : $space * 4; //40
$spaceXL : $space * 5; //50
$spaceXXL : $spaceXL * 2; //100
