//COLORS
$orange : #FF8C00;
$lightOrange : #FFB347;
$lightOrange- : rgba(255, 179, 71, .25);
$white : #FFFFFF;
$black : #000000;
$grey : #706F6F;
$lightGrey : #767676;
$uncolored_grey : rgba(118, 118, 118, .25);
$uncolored_black : rgba(0, 0, 0, .25);
$red : #E41E1E;

//TEXT SIZES
$text : 1em; //16
$textL : $text * 1.5; //24
$title : $text * 2; //32
$titleL : $title * 2; //64
$titleXL : $title * 4; //128

//SPACES
$space : .625em; //10
$spaceS : $space * 2; //20
$spaceSPlus : $space * 2.5; //25
$spaceM : $space * 3; //30
$spaceL : $space * 4; //40
$spaceXL : $space * 5; //50
$spaceXXL : $spaceXL * 2; //100
