html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.profile-modal-transition {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.profile-modal-enter, .profile-modal-leave-active {
  opacity: 0;
}

.profile-modal-enter-active, .profile-modal-leave {
  opacity: 1;
}

.profile-modal-enter, .profile-modal-leave-active {
  transform: translateY(-10%);
}

.profile-modal-enter-active, .profile-modal-leave {
  transform: translateY(0);
}

.hidden {
  font-size: 0;
  position: absolute;
  transform: translateX(-1000px);
}

.eaves {
  font-family: "Mr Eaves Mod OT", sans-serif;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link, .primary_title {
  position: relative;
}
.link::after, .primary_title::after {
  content: "";
  position: absolute;
  left: 0;
  height: 30%;
  background-color: #FF8C00;
  clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
  transition: 0.3s ease-in-out;
}

.link {
  background: none;
  padding: 0;
}
.link::after {
  width: 0;
  bottom: -30%;
}
.link:hover:after {
  width: 100%;
}
.link.active:after {
  width: 100%;
}

.logo {
  height: 48px;
}

.section, .space {
  margin-top: 6.25em;
}

.section_plus {
  margin-top: 9.375em;
}
.section.basic, .section_plus.basic {
  flex-direction: column;
  gap: calc(4.375em + 9.59px);
}

.content {
  padding: 0 3.125em;
  width: calc(100% - 6.25em);
}

.primary_title, .tagline {
  font-size: 2em;
}

.primary_title {
  text-indent: 1.5625em;
  padding-right: 0.46875em;
}
.primary_title::after {
  width: 100%;
  bottom: -20px;
}
.primary_title.grey_line::after {
  background-color: #706F6F;
}

.secondary_title {
  font-size: 1.5em;
}

.big_title {
  font-size: 4em;
}

.text {
  line-height: 1.25em;
}

.btn {
  font-size: 1em;
  cursor: pointer;
}

.input_label {
  flex-direction: column;
  gap: 0.625em;
  align-items: stretch;
}
.input_label_container {
  position: relative;
  flex-direction: column;
  gap: 0.625em;
}
.input_label_container_eye {
  position: absolute;
  right: 18px;
  top: calc(50% + 5px);
}

.input {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 2px - 20px);
}

.red {
  color: #E41E1E;
}

.primary_button, .socials_link, .lang_switcher_flag {
  transition: 0.3s ease-in-out;
}
.primary_button:hover, .socials_link:hover, .lang_switcher_flag:hover {
  transform: scale(1.1);
}

.primary_button {
  padding: 0.9375em;
  background-color: #FF8C00;
  border-radius: 0.625em;
}

.primary_button, .link {
  text-decoration: none;
  color: #000000;
  border: none;
}

.notifications_icon, .profile_icon, .lang_switcher_flag, .input_label_container_eye {
  cursor: pointer;
}

.main_nav {
  padding: 3.125em 3.125em 0 3.125em;
}
.main_nav_links, .main_nav_others {
  gap: 1.875em;
}
.main_nav_others_profile, .main_nav_others_notifications {
  position: relative;
}
.main_nav_others_notifications_modal, .main_nav_others_profile_modal {
  position: absolute;
  border: 1px solid rgba(118, 118, 118, 0.25);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 0.625em;
  padding: 0.3125em;
  flex-direction: column;
  z-index: 1;
  top: calc(100% + 20px);
}
.main_nav_others_notifications_modal {
  right: 0;
}
.main_nav_others_profile_modal {
  width: 12.1875em;
  gap: 1.25em;
  left: calc(50% - 6.09375em);
}
.main_nav_others_profile_modal_form {
  width: 100%;
}
.main_nav_others_profile_modal_form .main_nav_others_profile_modal_link {
  width: 100%;
}
.main_nav_others_profile_modal_form .main_nav_others_profile_modal_link:hover .main_nav_others_profile_modal_link_icon {
  stroke: #FF8C00;
  fill: none;
}
.main_nav_others_profile_modal_text, .main_nav_others_profile_modal_link {
  padding: 0.625em;
}
.main_nav_others_profile_modal_link {
  color: #000000;
  border: none;
  background: none;
  border-radius: 0.625em;
  transition: 0.3s ease-in-out;
  gap: 0.625em;
  text-decoration: none;
  width: calc(100% - 20px);
  justify-content: unset;
}
.main_nav_others_profile_modal_link_icon {
  transition: 0.3s ease-in-out;
}
.main_nav_others_profile_modal_link:hover {
  color: #FF8C00;
  background-color: rgba(255, 179, 71, 0.25);
}
.main_nav_others_profile_modal_link:hover .main_nav_others_profile_modal_link_icon {
  fill: #FF8C00;
}

.footer {
  padding: 3.125em;
  flex-direction: column;
}
.footer_content, .footer_legal_mentions {
  width: 100%;
}
.footer_content {
  padding-bottom: 3.125em;
  border-bottom: 1px solid #000000;
}
.footer_content_nav, .footer_content_languages, .footer_content_contact_info, .footer_content_socials {
  flex-direction: column;
  gap: 1.875em;
}
.footer_content_nav_links {
  flex-direction: column;
  gap: 1.25em;
}
.footer_legal_mentions {
  padding-top: 3.125em;
}
.footer_legal_mentions_content {
  flex-direction: column;
  gap: 1.25em;
}

.lang_switcher {
  width: 100%;
  gap: 1.25em;
  justify-content: start;
}

.img_container {
  position: relative;
}

.img_container::before, .slider_container_images_container::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 179, 71, 0.25);
  bottom: -50px;
  right: -50px;
  z-index: -1;
  border-radius: 0.9375em;
}

.slider_container {
  position: relative;
  flex-direction: column;
  gap: 1.25em;
}
.slider_container.rectangle {
  gap: 70px;
}
.slider_container.rectangle .slider_container_images_container {
  width: 518px;
  height: 388px;
  position: relative;
}
.slider_container.rectangle .slider_container_images_container::before {
  width: 503px;
  height: 324px;
}
.slider_container_dots {
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.slider_container_images_container {
  position: relative;
  width: 443px;
  height: 452px;
}
.slider_container_images_container_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s ease-in-out;
  border-radius: 15px;
}
.slider_container_images_container_img.active {
  z-index: 1;
  transform: translateX(0);
  opacity: 1;
}
.slider_container_images_container_img.hidden {
  opacity: 0;
  z-index: 0;
  transform: translateX(-100%);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #706F6F;
  transition: background-color 0.3s ease;
}
.dot.active {
  background-color: #FF8C00;
}

.contact_me {
  gap: 3.125em;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.contact_me_title {
  width: 305px;
  font-size: 2em;
}

.go_back_link {
  gap: 0.625em;
  justify-content: unset;
  margin-left: 3.125em;
  display: inline-block;
}

.section.basic, .section_plus.basic, .legal_mentions_content, .legal_mentions_content_item, .login_form_and_nav, .login_form, .footer, .input_label_container, .footer_content, .footer_content_nav, .footer_content_contact_info, .footer_content_languages, .footer_content_socials, .footer_content_nav_links, .footer_legal_mentions_content, .home_presentation_content, .home_presentation_content_texts, .home_presentation_content_texts_title, .home_some_useful_info_content, .home_some_useful_info_content_contact_details, .home_some_useful_info_content_socials, .home_some_useful_info_content_timetable, .home_some_useful_info_content_contact_details_content, .home_some_useful_info_content_contact_details_content_contact_container, .home_some_useful_info_content_contact_details_content_details_container, .home_some_useful_info_content_contact_details_content_details_container_item, .home_some_useful_info_content_timetable_list, .home_be_part_of_the_kperform_team_content_explanations_item, .home_some_statistics_content, .about_presentation_content_texts_container, .main_nav_others_profile_modal {
  align-items: start;
}

.login {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}
.login_logo {
  justify-content: center;
}
.login_form_and_nav, .login_form, .login_form_inputs_labels_container {
  flex-direction: column;
}
.login_form_and_nav {
  padding: 3.125em 0;
  align-items: center;
  justify-content: center;
}
.login_form_and_nav .go_back_nav {
  flex: 1;
  align-self: flex-start;
}
.login_form {
  flex: 2;
  gap: 1.875em;
  align-items: stretch;
  width: 350px;
  justify-content: unset;
}
.login_form_inputs_labels_container {
  gap: 1.875em;
  align-items: stretch;
}
.login_form_password_forgotten_and_remember_me_container {
  gap: 0.625em;
  user-select: none;
}
.login_logo {
  background-color: #FF8C00;
}

.checkbox {
  appearance: none;
  width: 1em;
  height: 1em;
  border: 1px solid #000000;
  position: relative;
  transition: background 0.3s, border 0.3s;
  cursor: pointer;
}
.checkbox:checked {
  background: #FF8C00;
  border-color: #FF8C00;
}
.checkbox:checked::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.4em;
  height: 0.6em;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}

.legal_mentions {
  margin-top: 3.125em;
}
.legal_mentions_content {
  padding: 0 12.5em;
  width: calc(100% - 25em);
  gap: 3.125em;
  flex-direction: column;
}
.legal_mentions_content_item {
  gap: 1.25em;
  flex-direction: column;
}

.home_presentation {
  gap: 3.125em;
  justify-content: center;
}
.home_presentation_content {
  flex-direction: column;
  gap: 1.25em;
  width: 502px;
}
.home_presentation_content_texts {
  gap: 3.125em;
  flex-direction: column;
}
.home_presentation_content_texts_title {
  gap: 1.25em;
  flex-direction: column;
}
.home_presentation_content_button_container {
  gap: 1.25em;
}

.home_some_useful_info_content {
  justify-content: space-between;
}
.home_some_useful_info_content_contact_details, .home_some_useful_info_content_socials, .home_some_useful_info_content_timetable {
  flex-direction: column;
  gap: 1.875em;
}
.home_some_useful_info_content_contact_details_content {
  flex-direction: column;
  gap: 3.125em;
}
.home_some_useful_info_content_contact_details_content_details_container {
  gap: 1.25em;
  flex-direction: column;
}
.home_some_useful_info_content_contact_details_content_contact_container {
  flex-direction: column;
  gap: 1.25em;
}
.home_some_useful_info_content_timetable_list {
  flex-direction: column;
  gap: 1.25em;
}

.home_be_part_of_the_kperform_team_content {
  gap: 3.125em;
  padding-right: 100px;
  width: calc(100% - 9.375em);
}
.home_be_part_of_the_kperform_team_content_explanations {
  gap: 3.125em;
  flex-direction: column;
  width: 49.4375em;
}
.home_be_part_of_the_kperform_team_content_explanations_item {
  flex-direction: column;
  gap: 1.25em;
}

.home_how_i_work_content {
  text-align: center;
}
.home_how_i_work_content_explanations {
  width: 300px;
  height: 300px;
  justify-content: center;
  border-radius: 50%;
  gap: 1.875em;
  background-color: #FFB347;
  flex-direction: column;
}
.home_how_i_work_content_explanations:first-of-type, .home_how_i_work_content_explanations:nth-of-type(2) {
  position: relative;
}
.home_how_i_work_content_explanations:first-of-type::after, .home_how_i_work_content_explanations:nth-of-type(2)::after {
  content: "";
  width: 200px;
  height: 5px;
  position: absolute;
  right: -228px;
  top: calc(50% + 2.5px);
  background-color: #706F6F;
}
.home_how_i_work_content_explanations_step_number, .home_how_i_work_content_explanations_text {
  font-size: 1.5em;
}
.home_how_i_work_content_explanations_text {
  width: 10.08333333em;
}

.home_some_statistics {
  background-color: #FF8C00;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 3.125em 0;
  gap: 3.125em;
}
.home_some_statistics_title {
  font-size: 2em;
}
.home_some_statistics_content {
  justify-content: space-around;
  width: 100%;
}
.home_some_statistics_content_item {
  font-size: 1.5em;
  gap: 0.625em;
  flex-direction: column;
  width: 200px;
}

.about_presentation_content {
  justify-content: center;
  gap: 3.125em;
}
.about_presentation_content_img_container {
  width: 452px;
  height: 452px;
}
.about_presentation_content_img_container::before {
  width: 436px;
  height: 388px;
  left: -50px;
  right: unset;
}
.about_presentation_content_img_container_img {
  width: 100%;
  height: 100%;
  border-radius: 0.9375em;
}
.about_presentation_content_texts {
  flex-direction: column;
  gap: 3.125em;
  width: 445px;
}
.about_presentation_content_texts_container {
  flex-direction: column;
  gap: 1.25em;
}

.about_why_me_content {
  justify-content: center;
  gap: 3.125em;
}
.about_why_me_content_img_container {
  width: 452px;
  height: 452px;
}
.about_why_me_content_img_container:before {
  width: 436px;
  height: 388px;
}
.about_why_me_content_img_container_img {
  width: 100%;
  height: 100%;
  border-radius: 0.9375em;
}
.about_why_me_content_text {
  width: 445px;
}

.about_my_team_content_team_mates_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25em;
  align-items: stretch;
}
.about_my_team_content_team_mates_list_item {
  border-radius: 0.9375em;
  border: 2px solid #FF8C00;
  padding: 1.25em;
  text-align: center;
  gap: 1.875em;
  flex-direction: column;
  justify-content: unset;
}
.about_my_team_content_team_mates_list_item_profile {
  gap: 1.25em;
  flex-direction: column;
}
.about_my_team_content_team_mates_list_item_profile_name_and_job {
  gap: 0.625em;
  flex-direction: column;
}
.about_my_team_content_team_mates_list_item_profile_name_and_job_name {
  font-size: 1.5em;
}
.about_my_team_content_team_mates_list_item .link {
  gap: 0.625em;
}

/*# sourceMappingURL=app.css.map */
