html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  font-size: 0;
  position: absolute;
  transform: translateX(-1000px);
}

.eaves {
  font-family: "Mr Eaves Mod OT", sans-serif;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 0;
  height: 30%;
  background-color: #FF8C00;
  clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
  transition: 0.3s ease-in-out;
}
.link:hover:after {
  width: 100%;
}
.link.active:after {
  width: 100%;
}

.logo {
  height: 48px;
}

.section {
  margin-top: 6.25em;
}

.primary_title {
  font-size: 2em;
}

.secondary_title {
  font-size: 1.5em;
}

.big_title {
  font-size: 4em;
}

.text {
  line-height: 1.25em;
}

.primary_button {
  padding: 0.9375em;
  background-color: #FF8C00;
  border-radius: 0.625em;
}

.primary_button, .link {
  text-decoration: none;
  color: #000000;
}

.notifications_icon, .profile_icon, .lang_switcher_flag {
  cursor: pointer;
}

.main_nav {
  padding: 3.125em 3.125em 0 3.125em;
}
.main_nav_links, .main_nav_others {
  gap: 1.875em;
}

.footer {
  padding: 3.125em;
  align-items: start;
  flex-direction: column;
}
.footer_content, .footer_legal_mentions {
  width: 100%;
}
.footer_content {
  align-items: start;
  padding-bottom: 3.125em;
  border-bottom: 1px solid #000000;
}
.footer_content_nav, .footer_content_languages, .footer_content_contact_info, .footer_content_socials {
  flex-direction: column;
  gap: 1.875em;
  align-items: start;
}
.footer_content_nav_links {
  flex-direction: column;
  align-items: start;
  gap: 1.25em;
}
.footer_legal_mentions {
  padding-top: 3.125em;
}
.footer_legal_mentions_content {
  flex-direction: column;
  gap: 1.25em;
  align-items: start;
}

.lang_switcher {
  width: 100%;
  gap: 1.25em;
  justify-content: start;
}

.slider_container {
  position: relative;
  overflow: hidden;
  flex-direction: column;
  gap: 1.25em;
}
.slider_container_dots {
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.slider_container_images_container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 443px;
  height: 452px;
}
.slider_container_images_container_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s ease-in-out;
}
.slider_container_images_container_img.active {
  z-index: 1;
  transform: translateX(0);
  opacity: 1;
}
.slider_container_images_container_img.hidden {
  opacity: 0;
  z-index: 0;
  transform: translateX(-100%);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #706F6F;
  transition: background-color 0.3s ease;
}
.dot.active {
  background-color: #FF8C00;
}

.home_presentation {
  gap: 3.125em;
  justify-content: center;
}
.home_presentation_content {
  flex-direction: column;
  gap: 1.25em;
  align-items: start;
  width: 502px;
}
.home_presentation_content_texts {
  gap: 3.125em;
  flex-direction: column;
  align-items: start;
}
.home_presentation_content_texts_title {
  gap: 1.25em;
  flex-direction: column;
  align-items: start;
}
.home_presentation_content_button_container {
  gap: 1.25em;
}

/*# sourceMappingURL=app.css.map */
